<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center mb-4"><u>Proyectos</u></h1>
        <ul class="lista-proyectos col-12">
            <div class="row">
                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                    <h4 class="text-muted">Nombre:</h4>
                    <h4><em>proyecto</em></h4>
                    <h4 class="text-muted">Descripción:</h4>
                    <h4><em>breve reseña</em></h4>
                    <h4 class="text-muted">URL:</h4>
                    <h4><em><a href="#">enlace</a></em></h4>
                </li>
                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                    <h4 class="text-muted">Nombre:</h4>
                    <h4><em>proyecto</em></h4>
                    <h4 class="text-muted">Descripción:</h4>
                    <h4><em>breve reseña</em></h4>
                    <h4 class="text-muted">URL:</h4>
                    <h4><em><a href="#">enlace</a></em></h4>
                </li>
                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                    <h4 class="text-muted">Nombre:</h4>
                    <h4><em>proyecto</em></h4>
                    <h4 class="text-muted">Descripción:</h4>
                    <h4><em>breve reseña</em></h4>
                    <h4 class="text-muted">URL:</h4>
                    <h4><em><a href="#">enlace</a></em></h4>
                </li>
            </div>
        </ul>
    </div>
</div>