<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center mb-4"><u>Formación</u></h1>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h2>Empleos:</h2>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="lista-trabajos">
                            <div class="row">
                                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                                    <h4 class="text-muted">Puesto:</h4>
                                    <h4><strong><em>Croupier</em></strong></h4>
                                    <h4 class="text-muted">Empresa:</h4>
                                    <h4><strong><em>Trewelyn S.A</em></strong></h4>
                                    <h4 class="text-muted">Año:</h4>
                                    <h4><strong><em>2013-Act</em></strong></h4>
                                </li>
                                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                                    <h4 class="text-muted">Puesto:</h4>
                                    <h4><strong><em>Croupier</em></strong></h4>
                                    <h4 class="text-muted">Empresa:</h4>
                                    <h4><strong><em>Trewelyn S.A</em></strong></h4>
                                    <h4 class="text-muted">Año:</h4>
                                    <h4><strong><em>2013-Act</em></strong></h4>
                                </li>
                                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                                    <h4 class="text-muted">Puesto:</h4>
                                    <h4><strong><em>Croupier</em></strong></h4>
                                    <h4 class="text-muted">Empresa:</h4>
                                    <h4><strong><em>Trewelyn S.A</em></strong></h4>
                                    <h4 class="text-muted">Año:</h4>
                                    <h4><strong><em>2013-Act</em></strong></h4>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h2>Estudios:</h2>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="lista-estudios">
                            <div class="row">
                                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                                    <h4 class="text-muted">Título:</h4>
                                    <h4><em>Bachiller or/ en Comunicación Social</em></h4>
                                    <h4 class="text-muted">Institución:</h4>
                                    <h4><em>E.M.E.M. N°2</em></h4>
                                    <h4 class="text-muted">Año:</h4>
                                    <h4><em>2013</em></h4>
                                </li>
                                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                                    <h4 class="text-muted">Título:</h4>
                                    <h4><em>Bachiller or/ en Comunicación Social</em></h4>
                                    <h4 class="text-muted">Institución:</h4>
                                    <h4><em>E.M.E.M. N°2</em></h4>
                                    <h4 class="text-muted">Año:</h4>
                                    <h4><em>2013</em></h4>
                                </li>
                                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                                    <h4 class="text-muted">Título:</h4>
                                    <h4><em>Bachiller or/ en Comunicación Social</em></h4>
                                    <h4 class="text-muted">Institución:</h4>
                                    <h4><em>E.M.E.M. N°2</em></h4>
                                    <h4 class="text-muted">Año:</h4>
                                    <h4><em>2013</em></h4>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h2>Cursos:</h2>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="lista-cursos">
                            <div class="row">
                                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                                    <h4 class="text-muted">Certificado:</h4>
                                    <h4><em>Desarrollador Web Full Stack Jr.</em></h4>
                                    <h4 class="text-muted">Plataforma:</h4>
                                    <h4><em>Argentina Programa</em></h4>
                                    <h4 class="text-muted">Año:</h4>
                                    <h4><em>2023</em></h4>
                                </li>
                                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                                    <h4 class="text-muted">Certificado:</h4>
                                    <h4><em>Desarrollador Web Full Stack Jr.</em></h4>
                                    <h4 class="text-muted">Plataforma:</h4>
                                    <h4><em>Argentina Programa</em></h4>
                                    <h4 class="text-muted">Año:</h4>
                                    <h4><em>2023</em></h4>
                                </li>
                                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                                    <h4 class="text-muted">Certificado:</h4>
                                    <h4><em>Desarrollador Web Full Stack Jr.</em></h4>
                                    <h4 class="text-muted">Plataforma:</h4>
                                    <h4><em>Argentina Programa</em></h4>
                                    <h4 class="text-muted">Año:</h4>
                                    <h4><em>2023</em></h4>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>