<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center mb-4"><u>Experiencia y Educación</u></h1>
        <h2 class="mb-3">Empleos:</h2>
        <ul class="lista-trabajos col-12">
            <div class="row">
                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                    <h4 class="text-muted">Puesto:</h4>
                    <h4><strong><em>Croupier</em></strong></h4>
                    <h4 class="text-muted">Empresa:</h4>
                    <h4><strong><em>Trewelyn S.A</em></strong></h4>
                    <h4 class="text-muted">Año:</h4>
                    <h4><strong><em>2013-Act</em></strong></h4>
                </li>
                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                    <h4 class="text-muted">Puesto:</h4>
                    <h4><strong><em>Croupier</em></strong></h4>
                    <h4 class="text-muted">Empresa:</h4>
                    <h4><strong><em>Trewelyn S.A</em></strong></h4>
                    <h4 class="text-muted">Año:</h4>
                    <h4><strong><em>2013-Act</em></strong></h4>
                </li>
                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                    <h4 class="text-muted">Puesto:</h4>
                    <h4><strong><em>Croupier</em></strong></h4>
                    <h4 class="text-muted">Empresa:</h4>
                    <h4><strong><em>Trewelyn S.A</em></strong></h4>
                    <h4 class="text-muted">Año:</h4>
                    <h4><strong><em>2013-Act</em></strong></h4>
                </li>
            </div>
        </ul>
        <hr>
        <h2 class="mb-3">Estudios:</h2>
        <ul class="lista-estudios col-12">
            <div class="row">
                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                    <h4 class="text-muted">Título:</h4>
                    <h4><em>Bachiller or/ en Comunicación Social</em></h4>
                    <h4 class="text-muted">Institución:</h4>
                    <h4><em>E.M.E.M. N°2</em></h4>
                    <h4 class="text-muted">Año:</h4>
                    <h4><em>2013</em></h4>
                </li>
                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                    <h4 class="text-muted">Título:</h4>
                    <h4><em>Bachiller or/ en Comunicación Social</em></h4>
                    <h4 class="text-muted">Institución:</h4>
                    <h4><em>E.M.E.M. N°2</em></h4>
                    <h4 class="text-muted">Año:</h4>
                    <h4><em>2013</em></h4>
                </li>
                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                    <h4 class="text-muted">Título:</h4>
                    <h4><em>Bachiller or/ en Comunicación Social</em></h4>
                    <h4 class="text-muted">Institución:</h4>
                    <h4><em>E.M.E.M. N°2</em></h4>
                    <h4 class="text-muted">Año:</h4>
                    <h4><em>2013</em></h4>
                </li>
            </div>
        </ul>
        <hr>
        <h2 class="mb-3">Cursos:</h2>
        <ul class="lista-cursos col-12">
            <div class="row">
                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                    <h4 class="text-muted">Certificado:</h4>
                    <h4><em>Desarrollador Web Full Stack Jr.</em></h4>
                    <h4 class="text-muted">Plataforma:</h4>
                    <h4><em>Argentina Programa</em></h4>
                    <h4 class="text-muted">Año:</h4>
                    <h4><em>2023</em></h4>
                </li>
                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                    <h4 class="text-muted">Certificado:</h4>
                    <h4><em>Desarrollador Web Full Stack Jr.</em></h4>
                    <h4 class="text-muted">Plataforma:</h4>
                    <h4><em>Argentina Programa</em></h4>
                    <h4 class="text-muted">Año:</h4>
                    <h4><em>2023</em></h4>
                </li>
                <li class="list-group-item col-12 col-sm-4 mb-3 px-2">
                    <h4 class="text-muted">Certificado:</h4>
                    <h4><em>Desarrollador Web Full Stack Jr.</em></h4>
                    <h4 class="text-muted">Plataforma:</h4>
                    <h4><em>Argentina Programa</em></h4>
                    <h4 class="text-muted">Año:</h4>
                    <h4><em>2023</em></h4>
                </li>
            </div>
        </ul>
    </div>
</div>