<div class="card">
    <div class="card-body">
        <h4 class="card-title text-center">Experiencia y Educación</h4>
        <h5>Empleos</h5>
        <div class="row">
            <div class="col-4">
                <ul class="list-group list-group-flush lista-trabajos">
                    <li class="list-group-item">
                        <p>Puesto:Croupier</p>
                        <p>Empresa:Trewelyn S.A</p>
                        <p>Año:2013-Actualidad</p>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <h5>Estudios</h5>
        <div class="row">
            <div class="col-4">
                <ul class="list-group list-group-flush lista-estudios">
                    <li class="list-group-item">
                        <p>Título: Bachiller con Orientación en Comunicación Social</p>
                        <p>Institución: E.M.E.M. N°2</p>
                        <p>Año:2013</p>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <h5>Cursos</h5>
        <div class="row">
            <div class="col-4">
                <ul class="list-group list-group-flush lista-trabajos">
                    <li class="list-group-item">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>