<div class="card">
    <div class="card-body">
        <h4 class="card-title text-center mb-4">Habilidades</h4>
        <div class="row">
            <div class="col-4 mb-4">
                <h6 class="text-danger">HTML</h6>
                <h5 class="mb-30 fw-700">40%</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                        aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                        style="width: 75%"></div>
                </div>
            </div>
            <div class="col-4 mb-4">
                <h6 class="text-info">CSS</h6>
                <h5 class="mb-30 fw-700">20%</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                        aria-label="Animated striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                        style="width: 50%"></div>
                </div>
            </div>
            <div class="col-4 mb-4">
                <h6 class="text-warning">JavaScript</h6>
                <h5 class="mb-30 fw-700">40%</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                        aria-label="Animated striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                        style="width: 50%"></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-4 mb-4">
                <h6 class="text-danger">Git</h6>
                <h5 class="mb-30 fw-700">40%</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                        aria-label="Animated striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                        style="width: 50%"></div>
                </div>
            </div>
            <div class="col-4 mb-4">
                <h6 class="text-info">Bootstrap</h6>
                <h5 class="mb-30 fw-700">40%</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                        aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                        style="width: 75%"></div>
                </div>
            </div>
            <div class="col-4 mb-4">
                <h6 class="text-warning">Angular</h6>
                <h5 class="mb-30 fw-700">20%</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                        aria-label="Animated striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                        style="width: 25%"></div>
                </div>
            </div>
        </div>
    </div>
</div>