<div class="card">
    <div class=" card-body">
        <h4 class="card-title">Habilidades</h4>
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-2">
                <h6 class="text-danger">Completed Work</h6>
                <h5 class="mb-30 fw-700">532</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                        aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                        style="width: 75%"></div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-2">
                <h6 class="text-info">Incomplete Work</h6>
                <h5 class="mb-30 fw-700">4,569</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                        aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                        style="width: 75%"></div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-2">
                <h6 class="text-warning">Ongoing Work</h6>
                <h5 class="mb-30 fw-700">89%</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                        aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                        style="width: 75%"></div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-2">
                <h6 class="text-success">Ongoing Digs</h6>
                <h5 class="mb-30 fw-700">365</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                        aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                        style="width: 75%"></div>
                </div>
            </div>
        </div>
    </div>
</div>