@import "node_modules/bootstrap/scss/bootstrap.scss";

.bannerImg {
    background-image: url('/assets/images/BannerFondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 34vh;
    width: 100vw;

    @include media-breakpoint-up(sm) {
        height: 31vh;
    }

    @include media-breakpoint-up(lg) {
        height: 28vh;
    }

    @include media-breakpoint-up(xl) {
        height: 25vh;
    }
}

.logoFP {
    height: 90px;
    width: 90px;

    @include media-breakpoint-up(md) {
        height: 120px;
        width: 120px;
    }

    @include media-breakpoint-up(lg) {
        height: 150px;
        width: 150px;
    }

    @include media-breakpoint-up(xl) {
        height: 180px;
        width: 180px;
    }
}