<section class="bg-dark bg-image mb-3">
    <div class="d-flex justify-content-between align-items-center bannerImg">
        <div class="d-flex flex-wrap align-items-center justify-content-start m-1">
            <img class="float rounded-circle logoFP" src="assets/images/fotoperfil.jpg" alt="Foto de Perfil" />
            <div class="col">
                <div class="row">
                    <p></p>
                </div>
                <div class="row">
                    <p></p>
                </div>
                <div class="row">
                    <span class="text-dark nombrePerfil">Emanuel Panetta</span>
                </div>
                <div class="row">
                    <p class="etiquetaPerfil">Desarrollador Web Full Stack Jr.</p>
                </div>
            </div>
        </div>
    </div>
</section>